* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#logo {
  width: 6.3rem;
  margin-left: 2rem;
  margin-top: 1.9rem;
  font-weight: 300;
}
#hero {
  margin-top: 1.8rem;
  width: 100%;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3.9rem;
}
.were {
  font-size: 2.4rem;
  letter-spacing: 0.7rem;
  font-weight: normal;
}
.coming-soon {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.7rem;
  font-weight: 600;
  line-height: 2.7rem;
}
.text-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
}
.text {
  text-align: center;
  line-height: 1.4rem;
  margin-left: 2.2rem;
  margin-right: 2.3rem;
  font-size: 0.9rem;
  font-weight: 300;
}
.input {
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-align: center;
}
.input-email {
  border-radius: 3rem;
  width: 80%;
  height: 2.75rem;
}
.input-email::placeholder {
  color: red;
  padding-left: 1.2rem;
  font-size: 0.9rem;
  font-weight: 300;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
